.DS_Store
.ipynb_checkpoints/
.idea/
doc/
inputs/
outputs/
archive/
*.pem
master/
tf_logs/
datasets/
us_department_of_labor/
credentials.py
__pycache__/
*.xml

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
